<h1 class="mt-4">Dashboard</h1>
<p class="lead mb-3">Welcome </p>
<a href="/users/dash_search" class="btn btn-secondary">Medicines</a>
<a href="/users/logout_ngo" class="btn btn-secondary">Logout</a>
